<form>
  <ion-toolbar mode="md">
    <ion-title color="primary" >
      <h4 style="font-weight: bold;">FORGOT PASSWORD</h4>
    </ion-title>
  </ion-toolbar>
  <ion-item-divider mode="md">
  </ion-item-divider>
  <ion-item size="small" class="ion-border" mode="md">
    <ion-label mode="md" autocomplete="off"position="floating">Please enter your email</ion-label>
    <ion-input mode="md" clearInput="true" type="email" ></ion-input>
  </ion-item>

  <ion-button expand="block" mode="md" type="submit" size="default" style="font-weight: bold;"
    class="ion-margin-top ion-margin-bottom">SUBMIT</ion-button>

  <ion-item-divider type="md">
  </ion-item-divider>
  <ion-button expand="block" mode="md" type="submit" [routerLink]="['/login']" color="danger" size="default"
    class="ion-margin-top ion-margin-bottom " style="font-weight: bold;">SIGN IN</ion-button>

</form>